*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h6, p {
  margin: 0;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  height: 4vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content {
  width: 141.42857vh;
  height: 100vh;
  margin: 0 auto;
  padding: 4vh 0;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -ms-grid-columns: 1fr 25.80952vh 30.79048vh 30.79048vh 30.79048vh;
      grid-template-columns: 1fr 25.80952vh 30.79048vh 30.79048vh 30.79048vh;
  -ms-grid-rows: 9.14286vh 21.04762vh 10.35vh 10.35vh 1fr;
      grid-template-rows: 9.14286vh 21.04762vh 10.35vh 10.35vh 1fr;
      grid-template-areas: 'info stats  buffs      buffs        buffs ' 'info stats  counters   counters     counters ' 'info stats  mainHand   armor        offHand   ' 'info skills mainHand   armor        offHand   ' 'info skills traits     inventory    inventory    ';
}

.wrapper .grid__cell {
  border: 1px dashed black;
}

.info {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: info;
  padding: 0 5px;
}

.info .img__box {
  margin: 0 auto;
  padding: 5px 10px 5px;
}

.info img {
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.info .name {
  text-align: center;
  padding: 3px;
}

.info span {
  display: block;
  border-bottom: 2px solid darkslategray;
  margin: 0 8px 0;
  padding-bottom: 5px;
}

.info span:last-child {
  border-bottom: none;
}

.stats {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: stats;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 16.66667%;
      grid-template-rows: 16.66667%;
  padding: 0.5vh;
}

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stat__item {
  height: 5.7619vh;
  width: 5.7619vh;
  text-align: center;
  font-size: 18px;
  line-height: 5.7619vh;
}

.stat__item img {
  height: 70%;
  margin: 15% 15%;
}

.stat .slash {
  height: 50%;
  width: 2px;
  background-color: grey;
}

.stat:nth-child(7),
.stat:nth-child(8),
.stat:nth-child(9) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
}

.counters {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: counters;
  padding: 0;
}

.counters img {
  margin: auto;
  height: 85%;
}

.counters .counter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9.52381vh 1fr 4fr;
      grid-template-columns: 9.52381vh 1fr 4fr;
  -ms-grid-rows: 4.7619vh 4.7619vh;
      grid-template-rows: 4.7619vh 4.7619vh;
  width: 100%;
  padding: 0.5vh;
  height: 50%;
}

.counters .counter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.counters .counter__item span {
  width: 4.7619vh;
}

.counters .counter__item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /2;
}

.counters .counter__item:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
}

.counters .counter__item:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 /3;
}

.counters .counter__item:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 /3;
}

.skills {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: skills;
  margin-top: 5px;
  border: 1px dashed black;
  padding: 0.5vh;
}

.skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
}

.skills .skill .skill__value {
  height: 100%;
  width: 100px;
  border: 1px solid blue;
}

.traits {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: traits;
  padding: 0.5vh;
}

.item {
  line-height: 1.3;
  padding: 2px;
  padding-bottom: 0;
  border-bottom: 1px solid darkslategray;
}

.mainHand {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: mainHand;
  padding: 0.5vh;
}

.offHand {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  grid-area: offHand;
  padding: 0.5vh;
}

.armor {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: armor;
  padding: 0.5vh;
}

.buffs {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: buffs;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: roW;
          flex-direction: roW;
  padding: 0.5vh;
}

.actions {
  grid-area: actions;
}

.inventory {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: inventory;
  padding: 5px;
}

.blank {
  grid-area: blank;
}

.card {
  width: 29.79048vh;
  height: 19.71429vh;
}

.hexagon {
  background-color: red;
  margin: 0 2px;
  height: 9.52381vh;
  width: 9.52381vh;
  -webkit-clip-path: polygon(25% 6.7375%, 75% 6.7375%, 100% 50%, 75% 93.2625%, 25% 93.2625%, 0% 50%);
          clip-path: polygon(25% 6.7375%, 75% 6.7375%, 100% 50%, 75% 93.2625%, 25% 93.2625%, 0% 50%);
}

.hexagon img {
  width: 60%;
}

.circle {
  background-color: blue;
  margin: 2px 2px;
  height: 4.7619vh;
  width: 4.7619vh;
  border-radius: 50%;
}

.decagon {
  background-color: green;
  height: 10.47619vh;
  width: 10.47619vh;
  -webkit-clip-path: polygon(0 50%, 9.76% 20%, 34.2% 2.45%, 65.8% 2.45%, 90.24% 20%, 100% 50%, 90.24% 80%, 65.8% 97.55%, 34.2% 97.55%, 9.76% 80%);
          clip-path: polygon(0 50%, 9.76% 20%, 34.2% 2.45%, 65.8% 2.45%, 90.24% 20%, 100% 50%, 90.24% 80%, 65.8% 97.55%, 34.2% 97.55%, 9.76% 80%);
}

.squer {
  background-color: purple;
  height: 7.14286vh;
  width: 7.14286vh;
  margin: 4px;
}
