*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6vh;
  line-height: 1.5;
}

h1, h2, h3, h4, h6, p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  line-height: 1.6;
}

ul li {
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  height: 4vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content {
  width: 141.42857vh;
  height: 100vh;
  margin: 0 auto;
  padding: 4vh 0;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -ms-grid-columns: 22% 20% 20% 20%;
      grid-template-columns: 22% 20% 20% 20%;
  -ms-grid-rows: 35% 20% 45%;
      grid-template-rows: 35% 20% 45%;
      grid-template-areas: 'info      stats  counter   buffs      buffs  ' 'info      skills  abilities   inventory        inventory   ' 'traits      skills  abilities      inventory    inventory    ';
}

.wrapper .grid__cell {
  border: 1px dashed black;
}

h3 {
  margin-bottom: 0.5vh;
  line-height: 1.3;
}

.info {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: info;
  padding: 0 5px;
}

.info .img__box {
  margin: 0 auto;
  padding: 5px 10px 5px;
}

.info img {
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.info .name {
  text-align: center;
  padding: 3px;
  font-size: 2vh;
}

.info span {
  display: block;
  border-bottom: 2px solid darkslategray;
  margin: 0 8px 0;
  padding-bottom: 5px;
}

.info span:last-child {
  border-bottom: none;
}

.info ul {
  padding: 0.5vh;
}

.abilities {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: abilities;
  padding: 1vh;
}

.abilities img {
  width: 3.33333vh;
}

.abilities .weapon-values {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5px;
}

.abilities .weapon-values::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 80%;
  top: 10%;
  left: 50%;
  border-left: 1px solid black;
}

.abilities .value {
  padding: 5px;
  float: left;
}

.abilities h4 {
  display: inline-block;
  padding: 0 5px;
}

.abilities .weapon-values__item:nth-child(2) {
  text-align: end;
}

.abilities .weapon-values__item:nth-child(2) .value {
  float: right;
}

.stats {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: stats;
  padding: 0.5vh;
}

.stats .stat {
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats .stat__item {
  height: 7.66667vh;
  width: 7.66667vh;
  text-align: center;
  font-size: 2vh;
  line-height: 7.66667vh;
}

.stats .stat__item img {
  height: 70%;
  margin: 15% 15%;
}

.stats .stat .stat__buff {
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 2.2vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats .stat .stat__buff img {
  width: 100%;
  margin-bottom: 3px;
}

.stats .stat .stat__buff .circle {
  margin: 5px auto;
  border-radius: 50%;
}

.skills {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: skills;
  margin-top: 5px;
  border: 1px dashed black;
  padding: 1vh;
}

.skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.8vh;
}

.skills .skill .skill__value {
  position: relative;
  height: 100%;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skill .skill__value .circle {
  height: 1.42857vh;
  width: 1.42857vh;
  border-radius: 50%;
  border: 1px solid black;
  margin: auto;
  background-color: white;
  z-index: 3;
}

.skills .skill .skill__value::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: black;
  z-index: 2;
}

.buffs {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: buffs;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: roW;
          flex-direction: roW;
  padding: 0.5vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buffs .squer:last-child {
  margin-right: 1vh;
}

.number-box {
  width: 2.66667vh;
  height: 2.66667vh;
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 2px;
}

.counters {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: counter;
  height: 100%;
  padding: 0.5vh;
}

.counters .counter {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.counters .counter .counter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.counters img {
  width: 5.33333vh;
}

.counters .counter__item:nth-child(1) {
  width: 6vh;
}

.counters .counter__item:nth-child(1) .value__item {
  width: 5vh;
}

.counters .counter__item:nth-child(1) .number-box {
  margin-bottom: 5px;
}

.counters .counter__item:nth-child(2) {
  margin-left: 3.33333vh;
}

.counters .counter__item:nth-child(2) img {
  width: 2vh;
  position: absolute;
  left: -2.66667vh;
}

.counters .counter__item:nth-child(2) .value .value__item {
  left: 0;
  margin: 1.3vh 0;
  width: 13vh;
}

.counters .counter__item:nth-child(2) .value .value__item .circle {
  border-radius: 50%;
}

.counters .counter__item:nth-child(3) {
  width: 6.66667vh;
  position: absolute;
  right: -3.33333vh;
  top: 10.76159%;
  background-color: white;
  border: 1px dashed black;
}

.counters .counter__item:nth-child(3) img {
  width: 3.33333vh;
}

.counters .counter__item:nth-child(3) .value {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHand {
  grid-area: mainHand;
  padding: 0.5vh;
}

.offHand {
  grid-area: offHand;
  padding: 0.5vh;
}

.armor {
  grid-area: armor;
  padding: 0.5vh;
}

.traits {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: traits;
  padding: 1vh;
}

.traits h4 {
  display: inline-block;
  padding-right: 5px;
}

.traits span {
  display: inline-block;
  border-bottom: 1px solid black;
  margin-left: 2px;
  width: 80%;
}

.inventory {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: inventory;
  padding: 1vh;
}

.inventory .inventory__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inventory .inventory__line h3 {
  margin-bottom: 0;
}

.inventory .inventory__line img {
  width: 4.66667vh;
  padding: 5px;
}

.inventory .inventory__line .number-box:last-child {
  width: 8vh;
}

.inventory .inventory__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.inventory .inventory__box ul {
  width: 50%;
  padding-right: 1vh;
}

.inventory .inventory__box ul:last-child {
  padding-right: 0;
  padding-left: 1vh;
}

.inventory .inventory__box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: black;
}

.card {
  width: 29.79048vh;
  height: 19.71429vh;
  display: -ms-grid;
  display: grid;
}

.weapon {
      grid-template-areas: 'cost name   hands' 'about about about' 'dmg  dmg  dmg' 'bar  bar    bar';
  padding: 0.5vh;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -ms-grid-rows: 1fr 4fr 1fr 1fr;
      grid-template-rows: 1fr 4fr 1fr 1fr;
}

.cost {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cost;
}

.name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
}

.hands {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: hands;
}

.about {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: about;
}

.about .card-icon {
  height: 8vh;
}

.about .card-icon img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dmg {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: dmg;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dmg .dmg__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dmg .dmg__item img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 3.5vh;
  width: 3.5vh;
}

.dmg .dmg__item .card-number {
  text-align: center;
  line-height: 100%;
  height: 3.5vh;
  width: 3.5vh;
}

.bar {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: bar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 3vh;
}

.bar .bar__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px dashed red;
}

.hexagon {
  background-color: red;
  margin: 0 2px;
  height: 9.52381vh;
  width: 9.52381vh;
  -webkit-clip-path: polygon(25% 6.7375%, 75% 6.7375%, 100% 50%, 75% 93.2625%, 25% 93.2625%, 0% 50%);
          clip-path: polygon(25% 6.7375%, 75% 6.7375%, 100% 50%, 75% 93.2625%, 25% 93.2625%, 0% 50%);
}

.hexagon img {
  width: 60%;
}

.decagon {
  background-color: green;
  height: 10.47619vh;
  width: 10.47619vh;
  -webkit-clip-path: polygon(0 50%, 9.76% 20%, 34.2% 2.45%, 65.8% 2.45%, 90.24% 20%, 100% 50%, 90.24% 80%, 65.8% 97.55%, 34.2% 97.55%, 9.76% 80%);
          clip-path: polygon(0 50%, 9.76% 20%, 34.2% 2.45%, 65.8% 2.45%, 90.24% 20%, 100% 50%, 90.24% 80%, 65.8% 97.55%, 34.2% 97.55%, 9.76% 80%);
}

.squer {
  height: 7.14286vh;
  width: 7.14286vh;
  margin: 0 0.5vh;
  border: 1px solid purple;
}

.value__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.4vh;
  margin: 2px 0;
}

.circle {
  display: block;
  height: 1.3vh;
  width: 1.3vh;
  border: 1px solid black;
  border-radius: 30%;
  background-color: white;
  z-index: 4;
}

.value__item::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: black;
  z-index: 3;
}
