*, *::after,*::before{
    box-sizing: border-box;

  };
body{

    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5

}


h1,h2,h3,h4,h6,p {
    margin: 0;
}

// Variables

$mainPad: 4vh;
$a4: 297/210;
$size:100vh ;
$cardScale: 68/45;
$cardHeight:45/210*($size - 2* $mainPad);
$gexA: 1.7305/2;
$gexhight: 20/210*100vh;
$roundHeight: 10/210*100vh;
$decHight: 22/210*100vh;
$statSize: 10/210*100vh;
$statSizeBox: $statSize +1vh;
$squerSize: 15/210*100vh;
$cardWidth: $cardHeight *$cardScale;

// Header

header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: $mainPad;
    width:100%;
    align-items: center;
}

// Main Content
.main-content{


    width: $a4*$size;
    height: $size;
    margin: 0 auto;
    padding: $mainPad 0;
}
$blockForCardHeight: $cardHeight*1.05;
.wrapper{
    display:grid;
    height: 100%;
    width:100%;
    grid-template-columns: 1fr 5*$statSize+2vh $cardWidth+1vh $cardWidth+1vh $cardWidth+1vh;
    grid-template-rows: 1*$squerSize+2vh 4*$statSize+2vh $blockForCardHeight/2 $blockForCardHeight/2 1fr;



    grid-template-areas:
        'info stats  buffs      buffs        buffs '
        'info stats  counters   counters     counters '
        'info stats  mainHand   armor        offHand   '
        'info skills mainHand   armor        offHand   '
        'info skills traits     inventory    inventory    '
        ;

    .grid__cell{
        border: 1px dashed black;
    }
}

.info{
    grid-area: info;
    padding: 0 5px;
    .img__box{

        margin: 0 auto;
        padding: 5px 10px 5px;
    }
    img{

        max-height: 200px;
        object-fit: contain;
        height:100%;
    }
    .name{
        text-align: center;
        padding: 3px;
    }
    span{
        display: block;
        border-bottom: 2px solid darkslategray;
        margin: 0 8px 0;
        padding-bottom: 5px;
    &:last-child{
        border-bottom: none;
    }
    }



}
.stats{
    grid-area: stats;
    display: grid;
$statRowSize: 1/6*100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: $statRowSize;
    padding: 0.5vh;


}

.stat{

   display: flex;
   flex-direction: row;
    padding: auto;
    align-items: center;
    justify-content: center;
   &__item{

       height: $statSizeBox;
       width: $statSizeBox;
        text-align: center;
        font-size: 18px;
        line-height: $statSizeBox;
       img{
           height: 70%;
           margin: 15% 15%;

       }
   }

   .slash{
       height: 50%;
       width: 2px;
       background-color: grey;
   }


}
.stat:nth-child(7),
.stat:nth-child(8),
.stat:nth-child(9){
    grid-column: 1 /3
}
.counters{
    grid-area: counters;
    padding: 0;
    img{
        margin: auto;
        height: 85%;
    }

    .counter{

        display: grid;
        grid-template-columns: 2*$statSize 1fr 4fr;
        grid-template-rows: $statSize $statSize;
        width:100%;
        padding: 0.5vh;


        height: 50%;


        &__item{
            display: flex;
            flex-direction: row;
            padding: auto;
            text-align: center;
            align-items: center;
            justify-content: center;
            span{
                width: $statSize;
            }
        }

        &__item:nth-child(1){
            grid-row: 1 /2;
        }
        &__item:nth-child(2){
            grid-row:2 /3;
        }
        &__item:nth-child(3){
            grid-row: 1 /3;
        }
        &__item:nth-child(4){
            grid-row: 1 /3;
        }


    }

}
.skills{
    grid-area: skills;
    margin-top: 5px;
    border: 1px dashed black;
    padding: 0.5vh;
    .skill{
        display:flex;
        justify-content: space-between;
        height: 24px;
        .skill__value {
            height:100%;
            width:100px;
            border: 1px solid blue;
        }
    }

}



.traits{
    grid-area: traits;
    padding: 0.5vh;

}
.item{
    line-height: 1.3;
    padding: 2px;
    padding-bottom: 0;
    border-bottom: 1px solid darkslategray;
}
.mainHand{
    grid-area: mainHand;
    padding: 0.5vh;
}
.offHand{
    grid-area: offHand;
    padding: 0.5vh;
}
.armor{
    grid-area: armor;
    padding: 0.5vh;
}
.buffs{
    grid-area: buffs;
    display: flex;
    flex-direction: roW;
    padding: 0.5vh;
}
.actions{
    grid-area: actions;
}
.inventory{
    grid-area: inventory;
    padding: 5px;
}
.blank{
    grid-area: blank;
}
.card {
    width: $cardScale*$cardHeight;
    height: $cardHeight;
    &--reversed{

    }
}




.hexagon {
    background-color: red;
    margin: 0 2px;
    height: $gexhight;
    width: $gexhight;
    clip-path: polygon(25% 50%*(1-$gexA),75% 50%*(1-$gexA), 100% 50%, 75% (1+$gexA)*50%, 25% (1+$gexA)*50%, 0% 50%);

    img{
        width: 60%;

    }
}
.circle{
    background-color: blue;
    margin: 2px 2px;
    height: $roundHeight;
    width: $roundHeight;
    border-radius: 50%;
}
$a: 9.76%;
$b: 30%;
$r: 50%*0.049;
$side: 31.6%;
.decagon {
    background-color: green;
    height: $decHight;
    width: $decHight;
    clip-path: polygon(
        0 50%,
        $a 50% - $b,
        50% - $side /2 $r,
        50% + $side /2 $r,
        100% - $a 50% - $b,
        100% 50%,
        100% - $a 50% + $b,
        50% + $side/2 100% - $r,
        50% - $side /2  100% - $r,
        $a 50% + $b,
        );
}
.squer{
    background-color: purple;
    height: $squerSize;
    width: $squerSize;
    margin: 4px;

}