*, *::after,*::before{
    box-sizing: border-box;

  };
body{

    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vh;
    line-height: 1.5

}


h1,h2,h3,h4,h6,p {
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    line-height: 1.6;
    li{
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;

    }
}
// Variables

$mainPad: 4vh;
$a4: 297/210;
$size:100vh ;
$cardScale: 68/45;
$cardHeight:45/210*($size - 2* $mainPad);
$gexA: 1.7305/2;
$gexhight: 20/210*100vh;
$roundHeight: 3/210*100vh;
$decHight: 22/210*100vh;
$statSize: 14/210*100vh;
$statSizeBox: $statSize +1vh;
$squerSize: 15/210*100vh;
$cardWidth: $cardHeight *$cardScale;
$circleSize: 1.3vh;
// Header

header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: $mainPad;
    width:100%;
    align-items: center;
}

// Main Content

.main-content{


    width: $a4*$size;
    height: $size;
    margin: 0 auto;
    padding: $mainPad 0;
}
$blockForCardHeight: $cardHeight*1.05;
.wrapper{
    display:grid;
    height: 100%;
    width:100%;
    grid-template-columns: 22% 20% 20% 20%;
    grid-template-rows: 35% 20% 45%;



    grid-template-areas:

        'info      stats  counter   buffs      buffs  '
        'info      skills  abilities   inventory        inventory   '
        'traits      skills  abilities      inventory    inventory    '
        ;

    .grid__cell{
        border: 1px dashed black;
    }
}
h3{
    margin-bottom: 0.5vh;
    line-height: 1.3;
}

// Info

.info{
    grid-area: info;
    padding: 0 5px;
    .img__box{

        margin: 0 auto;
        padding: 5px 10px 5px;
    }
    img{

        max-height: 200px;
        object-fit: contain;
        height:100%;
    }
    .name{
        text-align: center;
        padding: 3px;
        font-size: 2vh;
    }
    span{
        display: block;
        border-bottom: 2px solid darkslategray;
        margin: 0 8px 0;
        padding-bottom: 5px;
    &:last-child{
        border-bottom: none;
    }
    }
    ul{
        padding:0.5vh;
    }


}

// Abilities

.abilities{
    grid-area: abilities;
    padding: 1vh;
    img {
        width: $statSize*0.5;

    }
    .weapon-values{
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }
    .weapon-values::before{
        content: '';
        position: absolute;
        width: 1px;
        height: 80%;
        top: 10%;
        left: 50%;
        border-left: 1px solid black;
    }

    .value{
        padding: 5px;
        float:left;
    }
    h4{
        display: inline-block;
        padding: 0 5px;
    }
    .weapon-values__item:nth-child(2){
        text-align: end;
        .value{
            float:right;
        }

    }

}

// Stats

.stats{
    grid-area: stats;


    padding: 0.5vh;
    .stat{
        height: 25%;
        display: flex;
        flex-direction: row;
         padding: auto;
         align-items: center;
         justify-content: center;
        &__item{

            height: $statSizeBox;
            width: $statSizeBox;
             text-align: center;
             font-size: 2vh;
             line-height: $statSizeBox;
            img{
                height: 70%;
                margin: 15% 15%;

            }
        }

        .stat__buff {
            margin: 0 5%;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: $statSize*0.33;
            justify-content: center;

            img{
                width: 100%;
                margin-bottom: 3px;
            }
            .circle{
                margin: 5px auto;
                border-radius: 50%;
            }
        }


     }

}

// Skills

.skills{
    grid-area: skills;
    margin-top: 5px;
    border: 1px dashed black;
    padding: 1vh;
    .skill{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 2.8vh;
        .skill__value {
            position: relative;
            height:100%;
            width:45%;
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .circle{

                height: $roundHeight;
                width: $roundHeight;
                border-radius: 50%;
                border: 1px solid black;
                margin: auto;
                background-color: white;
                z-index: 3;
            }
        }
        .skill__value::after{
            content:'';
            position: absolute;
            top: 50%;
            left:10%;
            width: 80%;
            height: 1px;
            background-color: black;
            z-index: 2;
        }
    }

}

// Buffs

.buffs{
    grid-area: buffs;
    display: flex;
    flex-direction: roW;
    padding: 0.5vh;

    justify-content: flex-end;
    padding: 0.5vh;
    align-items: center;
    .squer:last-child{
        margin-right: 1vh;
    }
}

// Counters
.number-box{
    width:$statSize*0.4;
    height: $statSize*0.4;
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom: 2px;
}
.counters{
    position:relative;
    grid-area: counter;
    height: 100%;
    padding: 0.5vh;

    .counter{
        height: 50%;
        display:flex;
        flex-direction: row;
        .counter__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        }
        img {
            width: $statSize*0.8;
        }
        .counter__item:nth-child(1){
            width: 6vh;
            .value__item{
                width: 5vh;
            }
            .number-box{
                margin-bottom: 5px;
            }
        }
        .counter__item:nth-child(2) {
            margin-left: $statSize*0.5;
            img{
                width: $statSize*0.3;
                position: absolute;
                left:- $statSize*0.4;
            }
            .value{

                .value__item{
                    left: 0;
                    margin: $circleSize*1 0;
                    width: $circleSize* 10;
                    .circle {
                        border-radius: 50%;
                    }
                }
            }
        }
        .counter__item:nth-child(3){

            width: $statSize;

            position: absolute;
            right: - $statSize/2;
            top:65/604*100%;


            background-color: white;
            border: 1px dashed black;
            img{
                width:$statSize*0.5;
            }
            .value{
                padding: 2px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }



// Staff

.mainHand{
    grid-area: mainHand;
    padding: 0.5vh;
}
.offHand{
    grid-area: offHand;
    padding: 0.5vh;
}
.armor{
    grid-area: armor;
    padding: 0.5vh;
}

// Traits

.traits{
    grid-area: traits;
    padding: 1vh;
  h4 {
      display: inline-block;
      padding-right: 5px;
  }
  span {
      display: inline-block;
      border-bottom: 1px solid black;
      margin-left: 2px;
      width: 80%;
  }

}

// Inventory

.inventory{
    grid-area: inventory;
    padding: 1vh;
    .inventory__line {
        display: flex;
        flex-direction: row;
        align-items: center;
        h3{
            margin-bottom: 0;
        }
        img{
            width:$statSize*0.7;
            padding: 5px;
        }
        .number-box:last-child{
            width: $statSize*1.2;
        }


    }


    .inventory__box{
        position: relative;
        display:flex;
        width: 100%;
        ul{
            width:50%;
            padding-right:1vh;
        }
        ul:last-child{
            padding-right: 0;
            padding-left: 1vh;

        }
    }
    .inventory__box::after{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: black;
    }

}


// Elements


.card {
    width: $cardScale*$cardHeight;
    height: $cardHeight;
    display:grid;
    &--reversed{

    }
}
.weapon {
    grid-template-areas:
        'cost name   hands'
        'about about about'
        'dmg  dmg  dmg'
        'bar  bar    bar'
    ;
    padding: 0.5vh;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 1fr;
}
.cost{
    grid-area: cost;
}
.name{
    grid-area: name;
}
.hands{
    grid-area: hands;
}

.about{
    grid-area: about;
    .card-icon{
        height: 8vh;
        img{
            height: 100%;
            object-fit: contain;
        }
    }

}
.dmg{
    grid-area: dmg;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    .dmg__item {
        display:flex;

        width:50%;
        justify-content: center;
        align-items: center;
        img{

            object-fit: contain;
            height: 3.5vh;
            width: 3.5vh;
        }
        .card-number{
            text-align: center;
            line-height: 100%;
            height: 3.5vh;
            width: 3.5vh;
        }
}

}
.bar{
    grid-area: bar;
    display: flex;
    flex-direction: row;
    height: 3vh;
    .bar__item {
        flex-grow: 1;
        border: 1px dashed red;
    }
}


.hexagon {
    background-color: red;
    margin: 0 2px;
    height: $gexhight;
    width: $gexhight;
    clip-path: polygon(25% 50%*(1-$gexA),75% 50%*(1-$gexA), 100% 50%, 75% (1+$gexA)*50%, 25% (1+$gexA)*50%, 0% 50%);

    img{
        width: 60%;

    }
}

$a: 9.76%;
$b: 30%;
$r: 50%*0.049;
$side: 31.6%;
.decagon {
    background-color: green;
    height: $decHight;
    width: $decHight;
    clip-path: polygon(
        0 50%,
        $a 50% - $b,
        50% - $side /2 $r,
        50% + $side /2 $r,
        100% - $a 50% - $b,
        100% 50%,
        100% - $a 50% + $b,
        50% + $side/2 100% - $r,
        50% - $side /2  100% - $r,
        $a 50% + $b,
        );
}
.squer{

    height: $squerSize;
    width: $squerSize;
    margin: 0 0.5vh;
    border: 1px solid purple;
}


.value__item{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 3*$circleSize + 0.5vh;
    margin: 2px 0;


}
.circle{
    display: block;
    height: $circleSize;
    width: $circleSize;
    border: 1px solid black;
    border-radius: 30%;

    background-color: white;
    z-index: 4;
};
.value__item::after {
    content: '';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: black;
    z-index:3;

}
